<h1>Select role</h1>

<%= form_with model: @role, :class => "form" do |f| %>

<%= f.label :roll, 'Role' %>

<%= f.select :roll, [['Admin', 'Admin'], ['User', 'User']] %>

<% @role.errors.full_messages_for(:roll).each do |message| %>
<div class="error"><%= message %></div>
<% end %> <br><br>

<%= f.submit "Create", :class => "button" %>
<% end %>
